dist: xenial
language: python
python:
  - "3.6"
# command to install dependencies
before_install:
  # - sudo add-apt-repository --yes ppa:deadsnakes/ppa
  # - sudo apt-get update -q
  # - sudo apt-get remove python3.5
  # - sudo apt-get --yes --force-yes install python3.6
  # - sudo apt-get --yes --force-yes install libpython3.6
  # # https://unix.stackexchange.com/questions/410579/change-the-python3-default-version-in-ubuntu
  # # https://linuxconfig.org/how-to-change-from-default-to-alternative-python-version-on-debian-linux
  # - sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.6 2
  # - sudo update-alternatives --set python3 /usr/bin/python3.6
  # - python3 --version
  # - python3 -V
  # - dpkg -l python3
  # - apt policy python3
  # - sudo apt-get update -q
  # # - sudo apt-get install -y python3-gnucash
  - wget http://archive.ubuntu.com/ubuntu/pool/universe/g/gnucash/python3-gnucash_3.3-2_amd64.deb
  - sudo dpkg -i --force-depends python3-gnucash_3.3-2_amd64.deb
install:
  - pip3 install -r requirements.txt
# command to run tests
script:
  - make unittest
