dist: xenial

language: python

python:
  - "3.6"

services:
  - docker

before_install:
  # - docker pull foguinhoperuca/gnucash_magical_import
  - docker build -t foguinhoperuca/gnucash_magical_importer .
  - docker ps -a

script:
  - docker run -it foguinhoperuca/gnucash_magical_importer /bin/sh -c "make unittest"

after_script:
  - docker images
  - docker ps -a
